[user]
  name = Grigory Petrov
  email = grigory.v.p@gmail.com
[format]
  pretty = oneline
[core]
  editor = vim
  autocrlf = input
  safecrlf = false
[push]
  default = simple
[color "diff"]
  meta = black bold

[diff]
	tool = delta
[difftool]
	prompt = false
[difftool "delta"]
	cmd = delta \"$LOCAL\" \"$REMOTE\" \"$MERGED\"

